body {
    background:#eee;
}

.box {
    background:#4f94cd;
    height:140px;
    width:140px;
    margin:4px;
    position:absolute;
    text-align:center;
    font-size: 30px;
    line-height: 45px;
    color:#00ff00;
}
#box0 {
    background:#4f94cd;
    height:40px;
    width:40px;
    margin:0px;
    position:absolute;
    text-align:center;
    font-size: 10px;
    line-height: 10px;
    color:#00ff00;
    top:30px;
    left:150px;
}
#box1 {
    top:100px;
    left:320px;
}
#box2 {
    top:100px;
    left:465px;
}
#box3 {
    top:100px;
    left:610px;
}
#box4 {
    top:100px;
    left:755px;
}
#box5 {
    top:100px;
    left:900px;
}
#box6 {
    top:100px;
    left:1045px;
}
#box12 {
    top:245px;
    left:320px;
}
#box11 {
    top:245px;
    left:465px;
}
#box10 {
  top: 245px;
  left: 610px;
}
#box9 {
  top: 245px;
  left: 755px;
}
#box8 {
  top: 245px;
  left: 900px;
}
#box7 {
  top: 245px;
  left: 1045px;
}
.btn1 {
    height:50px;
    width:100px;
    position:absolute;
    text-align:center;
    top:430px;
    left:710px;
}
.btn2 {
    height:50px;
    width:100px;
    position:absolute;
    text-align:center;
    top:430px;
    left:850px;
}
.btn3 {
    height:50px;
    width:100px;
    position:absolute;
    text-align:center;
    top:430px;
    left:570px;
}

.place_form {
  position: fixed;
  top: 60px;
  right: 40px;
}

.tiny_box {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 110px;
  height: 700px;
}

.place_name {
  color: white;
}

.inner_box {
  background: #4f94cd;
  height: 40px;
  width: 50px;
  margin: 2px ;
  float:left;
  text-align: center;
  font-size: 10px;
}
.delete_btn {
    position: relative;
    height:4px;
    width:4px;
    top:4px;
    left:16px;
//    font-size: 8px;
    text-align: center;
    visibility: hidden;
    overflow: hidden;
}

